body{
	font-family:'open sans',sans-serif;
	font-size: 15px;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	background-color: #808080;
}
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
	background: url('image/7.jpg');
	background-repeat: no-repeat;background-size:cover;
}

ul{
	margin: 0;
	padding: 0;
}
.dark{
	padding: 15px;
	background: #35424a;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;

}


/*HEADER*/
header{
	border-bottom: 1px solid #56a79a;
	padding-top: 40px;
	background: #35424a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;

}
header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;


}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}
header#branding{
	float: left;
}
header #branding h1{
	margin:0;

}
header nav{
	float: right;
	margin-top:10px;
}

header .highlight ,header.current a{
	color: #e8491d;
	font-weight: bold;
}
header a:hover{
	color: #cccccc;
	font-weight:bold;
}
/*Showcase*/

#showcase{
	min-height: 400px;
	background: url('../image/7.jpg') no-repeat ;
	text-align: center;
	color: #ffffff;
	background-size: cover;
}

#showcase h2{
	margin-top: 100px;
	font-size: 30px;
	margin-bottom: 10px;
}
#showcase p{
	font-size: 20px;
}

table, th, td {
    border: 1px solid black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}


th, td {
    padding: 5px;
    text-align: center;
    border-radius:1px;
    border-bottom: solid black; 
 }

 table {
    border-spacing: 5px;
}



.nav{
	width:100%;
	height:50px;
	border-top-color:white;
	border-top-style:solid;
	border-top-width:thin;
	background-color:black;
	
}


}
.main{
	background: url('image/7.jpg');
	background-repeat: no-repeat;background-size:cover;
	margin:0px !important;
}
.login{
	margin-left:60%;
	width:40%;
	height:50px;
	border-top-color:white;
	border-top-style:solid;
	border-top-width:thin;
	background-color:black;
	padding-top:10px;
}

	
}
.register{
	background-color:black;
	margin-left:10%;
	width:30%;
	height:350px;
	
}
.footer{
	width:100%;
	height:100px;
	background-color:black;
	border-bottom: 1px solid #56a79a;
	













.header{
	width:100%;
	height:50px;
	background-color:black;
	
}
.nav{
	width:100%;
	height:50px;
	border-top-color:white;
	border-top-style:solid;
	border-top-width:thin;
	background-color:black;
}
.pics{
	background-image: url(image/8.jpg);
}
.body{
	width:100%;
	height:500px;
}
 #main-footer{
	width:100%;
	height:100px;
	background-color:#56a79a;
	text-align: center;
	color: #fff;
	border-bottom: 1px solid #56a79a;
}
.main{
	background: url('images/8.jpg');
	background-repeat: no-repeat;background-size:cover;
	margin:0px !important;
}
.login{
	margin-left:60%;
	width:40%;
	height:50px;
	border-top-color:white;
	border-top-style:solid;
	border-top-width:thin;
	background-color:black;
	padding-top:10px;
}
.block{
	float:left;
	width:10%;
	height:40px;
	margin-left:5%;
	
}
.register{
	background-color:black;
	margin-left:10%;
	width:30%;
	height:350px;
	
}
.view{
	width:80%;
	height:400px;
	margin:30px;
	
}
.block{
	width:23%;
	margin-left:2%;
	height:350px;
	background-color:black;
	
}